* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #080e22;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.hide {
  display: none !important;
}

.container {
  background-color: #1d1e33;
  min-height: 420px;
  min-width: 420px;
  padding: 2rem;
  border-radius: 12px;
}

#calc-container h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-control {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 1rem;
}

.form-control label {
  font-weight: bold;
  color: #ccc;
  margin-bottom: 0.6rem;
}

.form-control input {
  padding: 1rem 0.5rem;
  outline: none;
  border: none;
  border-radius: 6px;
}

.action-control {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2rem;
}

button {
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  background-color: #ff3527;
  color: #fff;
  border: none;
  cursor: pointer;
  flex: 1;
  opacity: 0.9;
  border-radius: 6px;
}

button:hover {
  opacity: 1;
}

#calc-btn {
}

#clear-btn {
  background-color: #444;
}

#result-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#imc-number {
  font-size: 2.4rem;
  margin-bottom: 0.6rem;
}

#imc-info {
  font-size: 1.6rem;
  color: #ccc;
}

#result-container h3 {
  margin-top: 1rem;
  color: #ddd;
}

#imc-table {
  margin: 1rem 0;
}

.table-header {
  font-weight: bold;
  color: #ccc;
}

.table-header,
.table-data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #444;
}

.table-header h4,
.table-data p {
  flex: 1;
}

/*Sem colocar "class" ou "id", pelo número dele (Seria o 3ª elemento) vai aplicar esses estilos*/
.table-header h4:nth-child(3),
.table-data p:nth-child(3) {
  max-width: 80px;
}

#back-btn {
  align-self: center;
  border-radius: 6px;
}

.good {
  color: #12db34;
}

.low {
  color: #dbce12;
}

.medium {
  color: #db6212;
}

.high {
  color: #db1912;
}
